<h3>Installation</h3>

<p>You can install <a href="{{ site.links.homebrew_formulae }}">my formulae</a> via <a href="{{ site.links.homebrew }}">Homebrew</a> with <code>brew tap</code>:</p>

<pre><code>$ brew tap joshuaclayton/formulae&#x000A;</code></pre>

<p>Next, run:</p>

<pre><code>$ brew install unused&#x000A;</code></pre>

<p>To update to the latest available version of Unused:</p>

<pre><code>$ brew update&#x000A;$ brew upgrade unused&#x000A;</code></pre>

<p>If you're not using Homebrew, you can read about <a href="{{ site.links.alt_install_options }}">alternative installation options</a>.</p>
