<h3 id="why">Why?</h3>

<p><strong>Unused code is expensive.</strong> People have a limited amount of room in their working
memory; by filling working memory with unused code when dissecting a problem,
developers are immediately at a disadvantage as there's less room to reason
about parts of the codebase that are actually in use.</p>

<p>I like cooking, so here's an analogy.</p>

<p>Imagine you're cooking dinner, and you're washing dishes as you go. An empty
sink when you're washing dishes means your hands are free to organize things,
to work more quickly, to speed through simple tasks and continue onward.</p>

<p>Unused code would be working with a sink stacked high with flatware, dishes,
knives. It will actively slow you down, but once those items are removed,
you're able to operate more freely again.</p>
