body {
  font-family: "Inconsolata", monospace;
  color: #333;
  font-size: 22px;
}

a {
  color: darken(#faf, 30%);
}

header {
  h1 {
    position: relative;
  }

  section.links {
    position: absolute;
    top: 0;
    right: 0;
    height: 40px;

    a {
      float: right;
      margin-left: 10px;
    }

    a.github {
      width: 20px;
    }
  }
}

.container {
  max-width: 600px;
  padding: 0 1em;
  margin: 0 auto;

  img {
    width: 100%;
  }
}

pre {
  border: 1px solid #e5e5e5;
  background: #fafafa;
  padding: 1em;
  font-size: .75em;
}

h3 {
  border-bottom: 1px solid #666;
}

.pull-requests {
  .added {
    color: green;
    &::before {
      content: "+";
    }
  }

  .removed {
    color: red;

    &::before {
      content: "-";
    }
  }
}
